#bodyLogin {
	background-image: url("texture.jpg");
}

#loginForm {
	text-align: center;
	marging: 0 auto;
	background: #d3d3d3;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	padding: 5px 15px;
}

#input {
        border: 1px solid #fff;
        border-radius: 5px;
	padding: 5px 15px;
	font-family:  Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

#enc {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 5px 15px;
	font-family:  Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

#refButton {
	padding: 5px 15px;
	float: center;	
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #888888;
	border: 1px solid #999999;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	text-decoration: none;
	font-size: 14px;
}

#input:hover {
	background: #dfe9ec;
	color: #414848;
	border: 1px solid #fff;
        border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
}

#enc:hover {
	background: #dfe9ec;
	color: #414848;
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
}

#loginButton {
	padding: 5px 15px;
	float: center;	
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #aaaaaa;
	border: 1px solid #999999;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	text-decoration: none;
	font-size: 14px;
}

#loginButton:hover {
	background: #dfe9ec;
        color: #414848;
        border: 1px solid #fff;
        border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
}

#refButton:hover {
	background: #dfe9ec;
	color: #414848;
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
}

#headlineLogin {
	width: 50%;
}

#loginTable {
	position: absolute;
        left: 40%;
        top: 40%;
	width: 25%;
}

#tablePanel {
	text-align: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table {
	border-spacing: 10px 5px;
}

table.attackStatusTable {
	width: 580px;
	background-color: #999999;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

td.attackStatusColumn {
	border-bottom: 1px #6699CC dotted;
	text-align: left;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #404040;
	background-color: #eeeeee;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px;
}

td.attackStatusHead {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 0px;
}

#logout {
	background: #b3b3b3;
	border-radius: 5px;
}

.ui-tooltip {
	font-size: 10px;
}

select {
	width: 150px;
        font-size: 14px;
}

#effect {
	font-family: Arial, sans-serif;
	font-size: 14px;
	width: 95%;
	padding: 0.4em;
	text-align: center;
	background: #00B3FF;
	border: 0px;
	color: #ffffff;
}

#encSelect {
	border-radius: 5px;
	background: #aaaaaa;
	font-size: 14px;
}

#creationTable {
	position: absolute;
	left: 40%;
	top: 40%;
	width: 40%;
}

#fontDiv {
	font-family:  Arial, sans-serif;
	font-size: 14px;
}

#loadingDiv {
	position: absolute;
	left: 30%;
	top: 30%;
	overflow: visible;
	border-radius: 5px;
	background: #aaaaaa;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

#grayDiv {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	background: #aaaaaa;
}