.body {
	background-image: url("texture.jpg");
}

.input {
        border: 1px solid #fff;
        border-radius: 5px;
	padding: 5px 15px;
	font-family:  Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.refButton {
	padding: 5px 15px;
	float: center;	
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #888888;
	border: 1px solid #999999;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	text-decoration: none;
	font-size: 14px;
}

.input:hover {
	background: #dfe9ec;
	color: #414848;
	border: 1px solid #fff;
        border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
}

.button {
	padding: 5px 15px;
	float: center;	
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #aaaaaa;
	border: 1px solid #999999;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	text-decoration: none;
	font-size: 14px;
}

.button:hover {
	background: #dfe9ec;
        color: #414848;
        border: 1px solid #fff;
        border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
}

.refButton:hover {
	background: #dfe9ec;
	color: #414848;
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
}

table {
	border-spacing: 10px 5px;
}

.ui-tooltip {
	font-size: 10px;
}

select {
	width: 150px;
        font-size: 14px;
}

.myTable {
	position: absolute;
	left: 40%;
	top: 40%;
	width: 40%;
}

.fontDiv {
	font-family:  Arial, sans-serif;
	font-size: 14px;
}

#effect {
	font-family: Arial, sans-serif;
	font-size: 14px;
	width: 95%;
	padding: 0.4em;
	text-align: center;
	background: #00B3FF;
	border: 0px;
	color: #ffffff;
}
